.feedbackContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 24px;
  gap: 32px;
  width: 1856px;
  height: 168px;
  background: #FFFFFF;
  border-radius: 8px;
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 32px;
}

.feedbackImg {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1676px;
  height: 120px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 1676px;
  height: 32px;
}

.user {
  width: 62px;
  height: 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
}

.grade {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}


.feedbackText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
